fastapi
uvicorn
python-dotenv
pydantic

langgraph
langchain-core
langchain-groq
langchain-openai

portkey-ai

qdrant-client
sentence-transformers
FlashRank

nemoguardrails

logfire

beautifulsoup4
unstructured
pypdf
